body{
  background-color: rgba(166,208,98,1);
}
.content-box{
  margin-top: 30px;
    .label-wrapper{
    padding: 40px;
    display: block;
    left: 36.5%;
    border : 5px solid #000;
    text-align: center;
    .label{
      font-size: 46px;
    }
  }
}
.button-wrapper{
  margin-top: 20px;
    .button-generate{
      border: 2px solid black;
      background-color: rgba(166,208,50,1);
  }
}
